<?xml version="1.0"?>
<config>
	<modules>
		<Kojoman_Twilio>
			<version>0.0.1</version>
		</Kojoman_Twilio>
	</modules>
	<global>
		<models>
			<twilio>
				<class>Kojoman_Twilio_Model</class>
			</twilio>
		</models>
		<helpers>
			<twilio>
				<class>Kojoman_Twilio_Helper</class>
			</twilio>
		</helpers>
	</global>
	<frontend>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<twilio_checkout_onepage_controller_success_action>
						<type>singleton</type>
						<class>Kojoman_Twilio_Model_Observer</class>
						<method>notifyNewOrder</method>
					</twilio_checkout_onepage_controller_success_action>
				</observers>
			</checkout_onepage_controller_success_action>
			<customer_register_success>
				<observers>
					<twilio_checkout_onepage_controller_success_action>
						<type>singleton</type>
						<class>Kojoman_Twilio_Model_Observer</class>
						<method>notifyNewCustomer</method>
					</twilio_checkout_onepage_controller_success_action>
				</observers>
			</customer_register_success>
			<sales_order_shipment_save_after>
				<observers>
					<twilio_sales_order_shipment_save_after>
						<type>singleton</type>
						<class>Kojoman_Twilio_Model_Observer</class>
						<method>notifyNewShipment</method>
					</twilio_sales_order_shipment_save_after>
				</observers>
			</sales_order_shipment_save_after>
		</events>
	</frontend>
	<admin>
		<routers>
			<twilio>
				<use>admin</use>
				<args>
					<module>Kojoman_Twilio</module>
					<frontName>twilioadmin</frontName>
				</args>
			</twilio>
		</routers>
	</admin>
</config>