<?xml version="1.0"?>
<config>
	<modules>
		<Kojoman_Twilio>
			<version>0.0.1</version>
		</Kojoman_Twilio>
	</modules>
	<global>
		<models>
			<twilio>
				<class>Kojoman_Twilio_Model</class>
			</twilio>
		</models>
		<helpers>
			<twilio>
				<class>Kojoman_Twilio_Helper</class>
			</twilio>
		</helpers>
	</global>
</config>