<?xml version="1.0" encoding="UTF-8"?>
<config>
	<sections>
		<magento_twilio translate="label" module="twilio">
			<label>Twilio</label>
			<tab>service</tab>
			<frontend_type>text</frontend_type>
			<sort_order>1000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<api translate="label">
					<label>Twilio API</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<comment>Please note that this is not an official Twilio Magento Integration</comment>
					<fields>
						<enabled translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enabled>
						<key translate="label,comment">
							<label>Twilio Account SID</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Please enter your twilio API key</comment>
						</key>
						<secret translate="label,comment">
							<label>Twilio Auth Token</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Please enter your twilio API secret here</comment> 
						</secret>
						<twilio_number translate="label,comment">
							<label>Verified Twilio Number</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Please enter a verified twilio number to send sms from</comment>
						</twilio_number>
					</fields>
				</api>
				<options translate="label">
					<label>Notification Options</label>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<comment>Please enable or disable specific notifications here</comment>
					<fields>
						<sms_new_order translate="label">
							<label>Send SMS for New Orders</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</sms_new_order>
						<sms_new_shipment translate="label">
							<label>Notify Customers via SMS when order is shipped</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>0</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</sms_new_shipment>
					</fields>
				</options>
			</groups>
		</magento_twilio>
	</sections>
</config>
